// COLORS
// ---------------------------
$text: #3a3a3a

//blue
$ac1: #00aeef
$ac1-hover: #0098EF
//blue
$ac2:  #fdbf2d
// grey
$ac3: #b7b7b7
//blue
$ac4: #0076EF

// FONTS
// ---------------------------
$c: 'Circe'
$m: 'Minion Pro'


// RESPONSIVE
// ---------------------------
