.tabs-menu
    margin-bottom: 25px  
    li 
        display: inline-block
        vertical-align: middle
        text-transform: uppercase
        border-bottom: 3px solid $ac3
        margin: 0 12px 
        a 
            color: $ac3 
            font-weight: 700 
        &.current 
            border-color: $ac1
            a 
                color: $ac1 
 
.tabs 
    min-height: 300px      
      
.tab-content
    display: none
    text-align: left
    font-size: 16px 
    h3
        color: $ac1 
        font-weight: 700 
        font-size: 16px 
        margin-top: 18px 
        margin-bottom: 10px 
    p
        margin-bottom: 10px 
        
#tab-1 
    display: block;   
