.site-footer
    background-color: $ac1
    color: #fff
    position: relative
    padding: 20px 0

    @media (max-width: 1200px)
        .row
            display: block

    &__logo
        width: 200px

        @media (max-width: 1200px)
            display: block
            margin-left: auto
            margin-right: auto
            margin-bottom: 30px
            margin-top: 20px
            width: 270px

        img
            display: block
            max-width: 100%

    &__buttons
        margin: 0 -10px

        @media (max-width: 1200px)
            margin-bottom: 30px

        .button 
            margin: 0 10px
            @media (max-width: 1200px)
                display: block
                margin: 10px auto
                max-width: 100%



    &__address
        font-size: 16px
        line-height: 24px

        @media (max-width: 1200px)
            text-align: center
            font-size: 20px
            margin-bottom: 30px

        b
            font-weight: 700

    &__phone
        @media (max-width: 1200px)
            text-align: center

        a[href^=tel]
            font-size: 22px
            font-weight: 700

        a[href^=mailto]
            font-size: 14px
            color: #fff
            border-bottom: 1px dashed #fff