.offer
	height: 730px
	max-height: 100%
	position: relative
	+flex($d: column, $ai: center, $j: center)
	
	background-image: url("../images/offer-main.jpg")
	background-position: 50% 50%
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	
	.wrapper 
		text-align: left
	
	h1
		font-size: 64px
		line-height: 74px
		text-transform: uppercase
		letter-spacing: .025em  
		width: 790px
		max-width: 100%  
		color: #3A3A3A 
		font-weight: 300 
		span 
			display: block
			font-size: 40px
			margin-top: 20px  
			line-height: 46px 
			font-weight: 200 
			text-transform: none
		& + * 
			margin-top: 70px 
	
	.button 
		& + .button 
			margin-left: 30px 

